body {
	width: calc(100% - 32px);
	max-width: 700px;
	margin: 0 auto;
	padding: 16px;
	color: #f7f2ed;
	background-color: #2f343f;
	line-height:1.4;
	font-family: sans-serif;
}

h1,h2,h3 {
	line-height:1.2;
}

h3 a, h3 a:visited, h1 a, h1 a:visited, .post h1 a, .post h1 a:visited {
	color: #f7f2ed;
	text-decoration: none;
}

@media only screen and (min-width: 1052px) {
	.nav {
		position: fixed;
		width: 160px;
		left: calc(50% - 510px);
		background-color: #2f343f;
	}

	.nav h1 {
		font-size: 48px;
		margin-top: 21px;
		margin-bottom: 16px;
	}

	.nav ul {
		list-style-type: none;
		padding-left: 0;
	}

	.nav li {
		margin-top: 8px;
	}
}
h1 a:hover, .post h1 a:hover {
	color: #fff;
}

@media only screen and (max-width: 1051px) {
	body {
		margin-top: 32px;
	}

	.nav {
		position: fixed;
		width: calc(100% - 32px);
		padding: 8px 16px;
		left: 0;
		top: 0;
		background-color: #2f343f;
		z-index:100;
	}

	.nav h1 {
		font-size: 24px;
		float: left;
		dislay: inline;
		margin: 0;
	}

	.nav h2 {
		display: none;
	}

	.nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.nav li {
		float: left;
		margin-left: 16px;
	}

	.nav .admin {
		float: right;
	}

	.mobilebreak {
		display: none;
	}
}

.nav a, .nav a:visited #preview-text a, #preview-text a:visited, .post a, .post a:visited {
	color: #5fd7ff;
}

.tag-view {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tag-view li {
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	padding: 8px;
	background-color: #404552;
}

.tag-input {
	display: inline;
	border: none;
	background-color: #404552;
	color: #f7f2ed;
	padding: 10px;
	font-size: 16px;
	margin-bottom: 8px;
}

.delete-tag {
	border: none;
	color: #f7f2ed;
	background-color: #ff4a4a;
	margin-left: 8px;
	font-weight: bold;
}

.delete-tag:hover {
	background-color: #ff7272;
}

.tags a {
	margin-left: 4px;
}

.admin a {
	color: #7cdc21;
}

.title-input, .text-input {
	background-color: #404552;
	color: #f7f2ed;
	border: none;
	width: calc(100% - 16px);
	padding: 8px;
}

.title-input {
	font-size: 32px;
	font-weight: bold;
	font-family: sans-serif;
}

.text-input {
	height: 50vh;
	font-size: 14px;
}

pre {
	width: calc(100% - 16px);
	padding: 8px;
	background-color: #404552;
	font-size: 14px;
}

img {
	width: 100%;
}

hr {
	border-bottom: 1px solid #f7f2ed;
}

/* animations */

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.anim {
	animation-duration: 0.25s;
	transition-timing-function: ease-in;
	animation-fill-mode: both;
}

.fadein {
	animation-name: fadeIn;
}

.fadeout {
	animation-name: fadeOut;
}
