{% extends "layout.html" %}
{% block body %}
{% if session.logged_in%}
  {% for post in posts %}
  <div class=post>
    <h2>{{ post.title }}</h2>
    <span>
      {% if post.published %}
        Published on: {{post.publish_date[:10]}}
      {% else %}
        {{ post.publish_date }}
      {% endif %}
    </span><br/>
    <a href="edit/{{ post.slug }}">edit</a> |
    <a href="post/{{ post.slug }}">view</a><br/>
    <form action="{{ url_for('delete') }}" method=post>
      <input type=hidden name=id value="{{ post.id }}">
      <button style="margin:8px 0;" onclick="return confirm('Are you sure you want to delete {{ post.title }}?')">
	delete</button>
    </form>
  </div>
  <hr/>
  {% endfor %}
{% endif %}
{% endblock %}
