<!doctype html>
<html>

<head>
<meta charset=UTF-8 name=viewport content="width=device-width, initial-scale=1">
<title>
{% if title %}
	ds0 - {{ title }}
{% else %}
	ds0
{% endif %}
</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class=nav>
	<h1><a href="/">ds0</a></h1>
	<ul>
		<li><a href='#'>about</a></li>
		<li><a href="/archive">archive</a></li>
		{% if session.logged_in %}
		<br/>
		<li class=admin><h2>logged in.</h2></li>
		<li class=admin><a href="/add">new post</a></li>
		<li class=admin><a href="/admin">admin</a></li>
		<li class =admin><a href="/logout">logout</a></li>
		{% endif %}
	</ul>
</div>
	{% block body %}{% endblock %}
</body>
</html>
