{% extends "layout.html" %}
{% block body %}
	{% if tagged %}
		<h1>posts tagged: {{ tagged }}</h1><hr/>
	{% endif %}
  <div class=posts>
    {% for post in posts %}
    <div class=post>
      <h1><a href="post/{{post.slug}}">{{ post.title }}</a></h1>
      {{ post.publish_date[:10] }}<br/>
      <div class=content>
				{{ post.text|safe }}
      </div>
			{% if tagdict[post.id] %}
				<div class=tags>
						Tagged: 
						{% for tag in tagdict[post.id] %}
							<a href='/tagged/{{ tag }}'>{{ tag }}</a>
						{% endfor %}
				</div>
			{% endif %}
    </div>
    <hr/>
    {% endfor %}
  </div>
	<script src="{{ url_for('static', filename='readmore.js') }}"></script>
{% endblock %}
